In [1]:
import numpy as np
import pandas as pd

In [2]:
s0 = pd.read_csv('station00.csv')
s1 = pd.read_csv('station01.csv')
s2 = pd.read_csv('station02.csv')
s3 = pd.read_csv('station03.csv')
s4 = pd.read_csv('station04.csv')
s5 = pd.read_csv('station05.csv')
s6 = pd.read_csv('station06.csv')
s7 = pd.read_csv('station07.csv')
s8 = pd.read_csv('station08.csv')
s9 = pd.read_csv('station09.csv')

In [3]:
import pandas as pd

# Read and tag each station with station_id
dfs = []
for i in range(10):
    df = pd.read_csv(f'station0{i}.csv')
    df['station_id'] = f'station_{i}'  # or just i if you prefer integer ID
    dfs.append(df)

# Now safely concatenate with station_id included
qhr_df = pd.concat(dfs, ignore_index=True)

# Optional: check result
print(qhr_df[['station_id']].drop_duplicates())

       station_id
0       station_0
28896   station_1
62304   station_2
92736   station_3
107424  station_4
140832  station_5
150528  station_6
181632  station_7
214560  station_8
247680  station_9

In [4]:
qhr_df.sample(5)

,date_time,nwp_globalirrad,nwp_directirrad,nwp_temperature,nwp_humidity,nwp_windspeed,nwp_winddirection,nwp_pressure,lmd_totalirrad,lmd_diffuseirrad,lmd_temperature,lmd_pressure,lmd_winddirection,lmd_windspeed,power,station_id
32735,2018-08-09 15:45:00,0.0,0.0,25.19,74.77,1.80,127.33,1006.77,0.0,0.0,26.6,1008.799988,22.4,0.0,0.0,station_1
107038,2019-06-09 15:30:00,0.0,0.0,22.17,43.01,3.29,257.02,975.42,0.0,0.0,22.9,973.900024,30.0,0.0,0.0,station_3
73805,2018-11-19 11:15:00,0.0,0.0,7.50,32.28,2.90,239.42,985.78,0.0,0.0,8.6,984.500000,329.0,1.1,0.0,station_2
96662,2019-02-21 13:30:00,0.0,0.0,3.37,53.75,3.35,314.37,992.80,0.0,0.0,1.1,990.599976,337.0,0.9,0.0,station_3
8440,2018-11-11 14:00:00,0.0,0.0,8.01,52.69,2.41,178.26,1018.89,0.0,0.0,8.0,1018.799988,143.0,0.9,0.0,station_0

In [5]:
features_to_keep = [
    'date_time',
    'nwp_globalirrad',
    'nwp_temperature',
    'nwp_humidity',
    'nwp_windspeed',
    'nwp_pressure',
    'station_id',
    'power'
]
df_15min = qhr_df[features_to_keep]

In [6]:
df_15min.sample(5)

,date_time,nwp_globalirrad,nwp_temperature,nwp_humidity,nwp_windspeed,nwp_pressure,station_id,power
157455,2018-09-26 19:45:00,0.00,15.39,72.06,2.81,1005.60,station_6,0.000000
128118,2019-02-01 05:30:00,553.61,1.55,17.28,5.99,881.38,station_4,17.936800
264748,2019-03-27 11:00:00,0.00,13.31,26.32,8.52,1010.48,station_9,0.000000
66394,2018-09-03 06:30:00,688.74,29.80,29.67,5.23,971.02,station_2,12.326790
4360,2018-09-30 02:00:00,586.68,18.74,26.46,8.47,1010.48,station_0,3.733594

In [7]:
df_15min.tail(20)

,date_time,nwp_globalirrad,nwp_temperature,nwp_humidity,nwp_windspeed,nwp_pressure,station_id,power
271948,2019-06-13 11:00:00,79.36,31.31,40.22,5.71,997.89,station_9,0.344058
271949,2019-06-13 11:15:00,38.66,30.84,41.57,5.37,998.09,station_9,0.280699
271950,2019-06-13 11:30:00,15.99,30.33,42.89,5.06,998.31,station_9,0.087038
271951,2019-06-13 11:45:00,0.00,29.81,44.03,4.82,998.55,station_9,0.000000
271952,2019-06-13 12:00:00,0.00,29.36,45.14,4.62,998.78,station_9,0.000000
271953,2019-06-13 12:15:00,0.00,28.94,46.32,4.39,998.99,station_9,0.000000
271954,2019-06-13 12:30:00,0.00,28.53,47.61,4.13,999.15,station_9,0.000000
271955,2019-06-13 12:45:00,0.00,28.11,49.01,3.87,999.32,station_9,0.000000
271956,2019-06-13 13:00:00,0.00,27.72,50.44,3.65,999.50,station_9,0.000000
271957,2019-06-13 13:15:00,0.00,27.34,51.91,3.49,999.66,station_9,0.000000
271958,2019-06-13 13:30:00,0.00,26.99,53.34,3.35,999.72,station_9,0.000000
271959,2019-06-13 13:45:00,0.00,26.67,54.71,3.23,999.65,station_9,0.000000
271960,2019-06-13 14:00:00,0.00,26.37,56.01,3.13,999.62,station_9,0.000000
271961,2019-06-13 14:15:00,0.00,26.11,57.19,3.05,999.65,station_9,0.000000
271962,2019-06-13 14:30:00,0.00,25.86,58.31,2.98,999.72,station_9,0.000000
271963,2019-06-13 14:45:00,0.00,25.60,59.45,2.92,999.82,station_9,0.000000
271964,2019-06-13 15:00:00,0.00,25.35,60.53,2.90,999.92,station_9,0.000000
271965,2019-06-13 15:15:00,0.00,25.11,61.55,2.95,1000.01,station_9,0.000000
271966,2019-06-13 15:30:00,0.00,24.88,62.46,3.03,1000.12,station_9,0.000000
271967,2019-06-13 15:45:00,0.00,24.63,63.41,3.11,1000.21,station_9,0.000000

In [8]:
df_15min.describe()

,nwp_globalirrad,nwp_temperature,nwp_humidity,nwp_windspeed,nwp_pressure,power
count,271968.000000,271968.000000,271968.000000,271968.000000,271968.000000,271968.000000
mean,167.131521,11.879423,43.707950,3.966932,976.258962,2.802003
std,245.452244,11.077684,22.532668,2.337732,43.809639,4.877402
min,0.000000,-19.780000,4.640000,0.050000,869.750000,0.000000
25%,0.000000,3.010000,26.040000,2.380000,948.320000,0.000000
50%,0.000000,11.610000,38.610000,3.460000,989.530000,0.000000
75%,297.340000,20.720000,58.030000,5.020000,1010.280000,3.686586
max,964.060000,41.090000,100.000000,19.660000,1044.790000,35.118130

In [9]:
import pandas as pd

# Ensure timestamp column is datetime type
df_15min['timestamp'] = pd.to_datetime(df_15min['date_time'])

# Keep only required columns + station_id
columns_to_keep = ['timestamp', 'station_id', 'nwp_globalirrad', 'nwp_temperature', 'nwp_humidity', 'nwp_windspeed', 'nwp_pressure','power']
df_filtered = df_15min[columns_to_keep]

# Create a date column (no time)
df_filtered['date'] = df_filtered['timestamp'].dt.date

# Aggregate by day AND station
daily_df = df_filtered.groupby(['station_id', 'date']).agg({
    'nwp_globalirrad': lambda x: (x * 0.25).sum() / 1000,
    'nwp_temperature': 'mean',
    'nwp_humidity': 'mean',
    'nwp_windspeed': 'mean',
    'nwp_pressure': 'mean',
    'power': 'mean'
}).reset_index()

# Convert summed irradiance (W/m²) to kWh/m²/day
daily_df['daily_globalirrad_kwh'] = daily_df['nwp_globalirrad']

# Drop raw sum column if you don't want both
daily_df.drop(columns='nwp_globalirrad', inplace=True)

# Rename columns clearly
daily_df.rename(columns={
    'nwp_temperature': 'daily_temperature_mean',
    'nwp_humidity': 'daily_humidity_mean',
    'nwp_windspeed': 'daily_windspeed_mean',
    'nwp_pressure': 'daily_pressure_mean',
    'power': 'daily_power_generated'
}, inplace=True)

# === NOW: Compute station max power and merge ===
station_max_power = daily_df.groupby('station_id')['daily_power_generated'].max().reset_index()
station_max_power.rename(columns={'daily_power_generated': 'station_max_power'}, inplace=True)

# Merge max power into main df
daily_df = daily_df.merge(station_max_power, on='station_id', how='left')

# Optional: check result
daily_df.head()

C:\Users\mancr\AppData\Local\Temp\ipykernel_23704\798299007.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_15min['timestamp'] = pd.to_datetime(df_15min['date_time'])

,station_id,date,daily_temperature_mean,daily_humidity_mean,daily_windspeed_mean,daily_pressure_mean,daily_power_generated,daily_globalirrad_kwh,station_max_power
0,station_0,2018-08-15,23.557188,81.192813,6.393750,1007.089375,0.018677,0.007642,1.677759
1,station_0,2018-08-16,23.185312,82.181875,4.157812,1008.030938,0.613550,1.260092,1.677759
2,station_0,2018-08-17,25.045104,75.701771,2.551354,1005.383646,1.311072,4.195482,1.677759
3,station_0,2018-08-18,24.366250,81.133854,3.657396,1003.763437,0.555322,1.353863,1.677759
4,station_0,2018-08-19,22.170417,95.982917,5.958333,1000.471146,0.316260,0.325893,1.677759

In [10]:
daily_df.sample(5)

,station_id,date,daily_temperature_mean,daily_humidity_mean,daily_windspeed_mean,daily_pressure_mean,daily_power_generated,daily_globalirrad_kwh,station_max_power
2529,station_8,2019-04-04,19.679896,20.931458,6.250625,951.709896,3.679030,5.616845,5.294833
761,station_2,2018-11-08,9.702813,35.031146,4.592292,982.929583,2.380295,3.366925,5.883511
550,station_1,2019-03-04,10.021146,55.133854,3.641667,1015.999583,3.222651,4.694930,15.126855
1568,station_5,2019-06-04,26.460417,40.544167,3.652292,982.813958,4.265445,4.621340,10.502804
961,station_2,2019-05-30,23.548958,22.520521,5.017396,977.925000,3.574375,7.471252,5.883511

In [11]:
daily_df['daily_globalirrad_kwh'].mean()

3.9760694099895035

In [12]:
daily_df['daily_globalirrad_kwh'].describe()

count    2858.000000
mean        3.976069
std         1.962560
min         0.000422
25%         2.681666
50%         3.605498
75%         5.477499
max         8.207228
Name: daily_globalirrad_kwh, dtype: float64

In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, r2_score

# Example: assume your target column is named 'daily_power_generated'
# If your actual column name is different — replace here
target_column = 'daily_power_generated'

# === 1. Feature / Target split ===
X = daily_df.drop(columns=['date','station_id', target_column])
y = daily_df[target_column]

# === 2. Train-test split ===
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# === 3. Scale features ===
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# === 4. Train RandomForest ===
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train_scaled, y_train)

# === 5. Evaluate ===
y_pred = model.predict(X_test_scaled)

mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Absolute Error (MAE): {mae:.3f}')
print(f'R² Score: {r2:.3f}')

Mean Absolute Error (MAE): 0.485
R² Score: 0.819

In [14]:
import requests
import pandas as pd

def get_open_meteo_forecast(lat, lon, station_max_power):
    # Variables
    daily_vars = [
        "shortwave_radiation_sum",
        "temperature_2m_mean",
        "relative_humidity_2m_mean",
        "wind_speed_10m_mean"
    ]
    hourly_vars = ["surface_pressure"]

    # Build URLs
    daily_url = (
        f"https://api.open-meteo.com/v1/forecast?"
        f"latitude={lat}&longitude={lon}&daily={','.join(daily_vars)}"
        "&timezone=auto"
    )

    hourly_url = (
        f"https://api.open-meteo.com/v1/forecast?"
        f"latitude={lat}&longitude={lon}&hourly={','.join(hourly_vars)}"
        "&timezone=auto"
    )

    # Fetch daily + hourly data
    daily_response = requests.get(daily_url)
    hourly_response = requests.get(hourly_url)

    if daily_response.status_code != 200 or hourly_response.status_code != 200:
        print("API error or bad response")
        return None

    daily_data = daily_response.json()['daily']
    hourly_data = hourly_response.json()['hourly']

    # Create daily DataFrame
    daily_df = pd.DataFrame({
        'date': pd.to_datetime(daily_data['time']),
        "daily_globalirrad_kwh": [x / 3.6 for x in daily_data["shortwave_radiation_sum"]],   # Already kWh/m²/day
        'daily_temperature_mean': daily_data['temperature_2m_mean'],       # °C
        'daily_humidity_mean': daily_data['relative_humidity_2m_mean'],    # %
        'daily_windspeed_mean': daily_data['wind_speed_10m_mean']          # m/s
    })

    # Create hourly DataFrame
    hourly_df = pd.DataFrame({
        'timestamp': pd.to_datetime(hourly_data['time']),
        'surface_pressure': hourly_data['surface_pressure']  # hPa
    })

    # Extract date and aggregate pressure
    hourly_df['date'] = hourly_df['timestamp'].dt.date
    pressure_df = hourly_df.groupby('date')['surface_pressure'].mean().reset_index()
    pressure_df.rename(columns={'surface_pressure': 'daily_pressure_mean'}, inplace=True)

    # Merge daily_df + pressure_df
    daily_df['date'] = daily_df['date'].dt.date
    merged_df = pd.merge(daily_df, pressure_df, on='date', how='inner')

    # Drop date (not needed for model)
    merged_df.drop(columns='date', inplace=True)

    # Add station max power
    merged_df['station_max_power'] = station_max_power

    expected_cols = scaler.feature_names_in_

    merged_df = merged_df[expected_cols]

    return merged_df

# Example usage
lat = 30.0444
lon = 31.2357
station_max_power = 5.0  # Example in kW (match your model's unit)

forecast_df = get_open_meteo_forecast(lat, lon, station_max_power)
print(forecast_df.head())

   daily_temperature_mean  daily_humidity_mean  daily_windspeed_mean  \
0                    29.0                   50                   7.5
1                    29.3                   46                   8.2
2                    28.5                   50                   7.3
3                    28.9                   52                   8.8
4                    28.7                   48                   8.2

   daily_pressure_mean  daily_globalirrad_kwh  station_max_power
0          1008.591667               8.230556                5.0
1          1007.670833               7.905556                5.0
2          1006.312500               7.908333                5.0
3          1006.458333               7.808333                5.0
4          1006.537500               8.152778                5.0

In [41]:
lat = 30.033  # Cairo
lon = 31.233
station_max_power = 15  # kW (or same unit as your model)

api_df = get_open_meteo_forecast(lat, lon,station_max_power)

if api_df is not None:
    X_scaled = scaler.transform(api_df)
    prediction = model.predict(X_scaled)
    print("Predicted daily power:", prediction[0])

Predicted daily power: 5.037905264479168

In [16]:
api_df.head()

,daily_temperature_mean,daily_humidity_mean,daily_windspeed_mean,daily_pressure_mean,daily_globalirrad_kwh,station_max_power
0,29.0,50,7.5,1008.029167,8.230556,1.0
1,29.3,46,8.2,1007.108333,7.905556,1.0
2,28.4,50,7.3,1005.754167,7.908333,1.0
3,28.9,52,8.8,1005.895833,7.808333,1.0
4,28.6,48,8.2,1005.975000,8.152778,1.0